# files generated during make
/warnings
/*.deps
/tags
/obj/
# Copied executables
/tmwa-char
/tmwa-admin
/tmwa-login
/tmwa-map
/eathena-monitor
# Generated source files
src/map/magic-interpreter-parser.hpp
src/map/magic-interpreter-parser.cpp
src/map/magic-interpreter-lexer.cpp

